@import url("../fonts/roboto/roboto.css");

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.015rem;
}

a {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

p,
ul:not(.list-unstyled),
ol {
  line-height: 22px;
}

.main-content {
  padding: 60px 30px 0;
  width: 100%;
  position: relative;
}

.main-footer {
  padding: 20px;
}

.navbar {
  left: 0;
  right: 0;
}

.navbar,
.navbar-bg {
  height: 50px;
}

.navbar .navbar-brand {
  letter-spacing: 0.05rem;
  font-weight: 500;
  font-size: 1rem;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #fff;
}

.navbar .nav-link.nav-link-user {
  color: #fff;
  font-weight: 500;
  padding: 10px 20px !important;
  background-color: rgba(0, 0, 0, 0.25);
}

.card {
  margin-bottom: 15px;
}

.card .card-header h4 {
  line-height: 24px;
}

.card .card-body {
  padding: 10px 20px;
}

.card .rounded-circle {
  width: 60px;
  margin: 0;
}

.card.card-custom .card-body {
  padding-bottom: 1.25rem;
}

.nav-pills .nav-item .nav-link {
  padding: 0.5rem 1.25rem !important;
}

.theme-purple .nav-pills .nav-link.active {
  box-shadow: 0 2px 6px #acb5f6;
  background-color: #6777ef;
  color: #fff;
  border-radius: 30px !important;
}

.nav-pills .nav-item .nav-link:hover {
  border-radius: 30px !important;
}

.theme-purple .nav-pills .nav-link {
  margin: 0 8px;
}

.tab-content > .tab-pane {
  line-height: 24px;
}

.progress {
  border-radius: 0.5rem;
}
